:root {
  --resizer-thickness: 8px;
}

.editor-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.editor {
  position: relative;
  width: calc(60% - var(--resizer-thickness) / 2 - 1px);
  height: 100%;
  background-color: rgb(143, 142, 142);
  z-index: 5;
}

.resize {
  position: relative;
  width: var(--resizer-thickness);
  height: 100%;
  background-color: rgb(209, 209, 209);
  border: 1px solid rgb(58, 58, 58);
  cursor: ew-resize;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  touch-action: none;
}
.resize-icon {
  pointer-events: none;
}
.resize-thumb {
  display: none;
  background-color: white;
  width: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0 0 10px 0px #3b3b3b;
  opacity: 0.8;
  user-select: none;
}

.rendered {
  position: relative;
  width: calc(40% - var(--resizer-thickness) / 2 + 1px);
  height: 100%;
  background-color: aliceblue;
  z-index: 5;
  left: -1px;
}
.overlay {
  user-select: none;
  background-color: rgb(151, 151, 151);
  color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  visibility: hidden;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
.overlay.show {
  visibility: visible;
  pointer-events: all;
}
.overlay.resizing {
  z-index: 10;
}
.overlay.rendering {
  z-index: 9;
  bottom: 0;
  top: unset;
  height: auto;
  text-align: left;
  padding: 0.5rem;
  background: transparent;
  color: gray;
  width: auto;
}

#editorCanvas,
#renderCanvas {
  touch-action: none;
}

@media (max-width: 768px) {
  .resize-thumb {
    display: block;
    transform: rotateZ(90deg);
  }

  .editor-container {
    flex-direction: column;
  }

  .editor {
    height: calc(60% - var(--resizer-thickness) / 2 - 1px);
    width: 100%;
  }

  .resize {
    height: var(--resizer-thickness);
    width: 100%;
  }
  .resize-icon {
    display: none;
  }

  .rendered {
    height: calc(40% - var(--resizer-thickness) / 2 + 1px);
    width: 100%;
    left: 0px;
    top: -1px;
  }
}
